beautifulsoup4==4.11.1
duckduckgo_search==7.3.2
protobuf==3.20.3
requests==2.32.3
google-generativeai==0.8.4
duckduckgo-search>=7.3.2
transformers==4.24.0
yake==0.4.8
spacy==3.8.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
